
body {
    padding-top: 50px;
}

nav.navbar {
	height: 51px;
}

.brand {
	line-height: 50px;
	font-size: 26px;
	color: #fff;
	display: inline-block;
}

.brand a {
	color: #fff;
}

.brand a:hover {
	text-decoration: none;
}

.brand .logo-font {
	font-family: LogoFont;
	font-style: normal;
	margin: 0;
	float: left;
}

.flag {
	float: right;
	display: block;
	width: 50px;
	height: 30px;
	background: #fff;
	margin-top: 10px;
}

.flag-red {
	display: block;
	width: 50px;
	height: 10px;
	background: #AE1C27;
}

.flag-blue {
	display: block;
	width: 50px;
	height: 10px;
	background: #26478A;
	margin-top: 10px;
}

.row.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.plane-1, .plane-2, .plane-3, .plane-4, .plane-5 {
	width: 100%;
	
}

.plane-header {
	margin: 20px 0 20px;
}

.plane-1 {
	padding: 20px 0 40px 0;
	background: #fff url("../img/mascotte.jpg") no-repeat scroll 0 0 / cover border-box border-box;
}

.sporter-names {
	width: 100px;
	margin-right: 20px;
	float: left;
}

.plane-1 .sporter-names .sporter-name {
	height: 70px;
	margin: 5px 0;
	text-align: right;
	display: table;
	width: 100px;
}

.plane-1 .sporter-names .sporter-name span {
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}

.plane-1 .sporter-names .sporter-name span a {
	color: #333;
}

.plane-1 .sporter-names .sporter-name span a:hover {
	color: #333;
}

.sporter-tiles {
	width: 70px;
	margin-right: 20px;
	float: left;
}

.sporter-tile-70 {
	height: 70px;
	width: 70px;
	background: #000;
	margin: 5px 0;
}

.sporter-bars {
	padding-left: 210px;
}

.sporter-bar {
	height: 70px;
	background: #F5791F;
	margin: 5px 0;
}

.sporter-bar .duration {
	padding: 10px 5px 0 5px;
	font-size: 35px;
	line-height: 35px;
	text-align: right;
}

.sporter-bar .duration-unit {
	padding: 0 5px 0 5px;
	font-size: 15px;
	line-height: 15px;
	text-align: right;
}

#sporter-bar-daphne_schippers {
	width: 85%;
}

#sporter-bar-tom_dumolin {
	width: 60%;
}

#sporter-bar-ranomi {
	width: 30%;
}

#sporter-bar-anouk {
	width: 20%;
}

.plane-2 {
	background: #F5791F;
}

.plane-2-text {
	margin: 50px 0;
	color: #fff;
	font-size: 14pt;
}

.plane-3 {
	background: #00aeef url("../img/daphne.jpg") no-repeat scroll 0 0 / cover border-box border-box;
	padding-top: 50px;
	padding-bottom: 100px;
	color: #fff;
}

.sporter-search {
	
}

.sporter-search .form-control.input-lg {
    border-radius: 0px;
	border: 1px solid #666;
	box-shadow: none;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
}

.ui-autocomplete {
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-widget {
    font-size: 1.1em;
}

.ui-widget-content {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    color: #222222;
}

.ui-menu {
    display: block;
    list-style: outside none none;
    margin: 0;
    outline: medium none;
    padding: 0;
}

.ui-menu .ui-menu-item {
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    margin: 0;
    min-height: 0;
    padding: 3px 1em 3px 0.4em;
    position: relative;
    display: inline-block;
    width: 100%;
}

@media (min-width: 992px) {
	.ui-menu .ui-menu-item {
		width: 50%;
		float: left;
	}
}

.ui-menu .ui-menu-item .sporter-tile-70 {
    /* margin-right: 10px; */
    margin: 0 10px 0 0;
}

.ui-menu .ui-menu-item .sporter-name .name {
	font-size: 18px;
	line-height: 18px;
}

.ui-menu .ui-menu-item .sporter-name .sport {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.ui-menu .ui-menu-item .sporter-name .duration {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.ui-menu .ui-menu-item em {
	font-weight: bold;
	font-style: normal;	
}

.ui-front {
    z-index: 100;
}

.ui-helper-hidden-accessible {
	display: none;
}

.plane-4 {
	padding-top: 20px;
	padding-bottom: 60px;
}

.plane-4 .a-z-nav {
	width: 100%;
	text-align: center;
}

.plane-4 .sporter-tile-70 {
	margin-right: 10px;	
}

.plane-4 .sporter-name {
	/* height: 70px; */
	float: left;
	margin: 5px 0;
	vertical-align: middle;
}

.plane-4 .sporter-name span {
	font-size: 18px;
	line-height: 18px;
}

.plane-4 .sporter-name .name {
	font-size: 18px;
	line-height: 18px;
}

.plane-4 .sporter-name .sport {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.plane-4 .sporter-name .duration {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.plane-5 {
	background: black;
	padding-top: 25px;
	padding-bottom: 70px;
}

.plane-5 span {
	color: #fff;	
}

.logo-col {
	margin-top: 15px;
}

.logo-box {
	margin-top: 15px;
}


.plane-6 {
	padding: 20px 0 40px 0;
	background: #fff url("../img/mascotte.jpg") no-repeat scroll 0 0 / cover border-box border-box;
}

.plane-6 .player-col {
	width: 60%;
	float: left;
}

.plane-6 .player-col .watch-external {
	padding: 10px 0 0 0;
}

.plane-6 .thumb-col {
	width: 40%;
	float: left;
}

.plane-6 .thumb-col .thumbs {
	padding-left: 0px;
}

.plane-6 .thumb-col .thumb-wrapper {
	display: inline-block;
	width: 100%;
	position: relative;
	float: left;
	margin-left: 0px;
	margin-bottom: 5px;
}

@media (min-width: 992px) {
	.plane-6 .thumb-col .thumbs .thumb-wrapper {
		display: inline-block;
		width: calc(50% - 5px);
		position: relative;
		float: left;
		margin-left: 5px;
		margin-bottom: 5px;
	}
}

.plane-6 .thumb-col .thumb-wrapper:after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

.plane-6 .thumb-col .thumbs .thumb {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.plane-6 .thumb-col .thumb-overlay {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/play.png") no-repeat;
	background-size: 30px 30px;
	background-position: 50% calc(50% - 10px);
	cursor: pointer; 
}

.plane-6 .thumb-col .thumb-overlay.no-play-button {
	background: none;
	cursor: default; 
}

.plane-6 .thumb-col .thumb-overlay .caption {
	height: 22px;
	margin: -22px 0 0 0;
	padding: 0 4px 0 4px;
	background: #fff;
	opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.plane-6 .thumb-col .thumb-overlay .caption h4 {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}

/*
 * No player
 */
.plane-6 .thumb-col-noplayer {
	padding-left: 0;
}

.plane-6 .thumb-col-noplayer .thumb-wrapper {
	display: inline-block;
	width: 100%;
	position: relative;
	float: left;
	margin-left: 0px;
	margin-bottom: 5px;
}

.plane-6 .thumb-col-noplayer .thumb-wrapper:after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

.plane-6 .thumb-col-noplayer .thumb {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.plane-6 .thumb-col-noplayer .thumb-overlay {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/play.png") no-repeat;
	background-size: 30px 30px;
	background-position: 50% calc(50% - 10px);
	cursor: pointer; 
}

.plane-6 .thumb-col-noplayer .thumb-overlay .caption {
	height: 22px;
	margin: -22px 0 0 0;
	padding: 0 4px 0 4px;
	background: #fff;
	opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.plane-6 .thumb-col-noplayer .thumb-overlay .caption h4 {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}



.plane-not_found {
	height: 600px;
	background: #fff url("../img/mascotte.jpg") no-repeat scroll 0 0 / cover border-box border-box;
}

body:after{
  z-index: 1031;
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}