@font-face {
  font-family: "LogoFont";
  src: url("../font/LogoFont.eot");
  src: url("../font/LogoFont.eot?#iefix") format("embedded-opentype"),
       url("../font/LogoFont.woff") format("woff"),
       url("../font/LogoFont.ttf") format("truetype"),
       url("../font/LogoFont.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "LogoFont";
    src: url("../font/LogoFont.svg#Flaticon") format("svg");
  }
}

[class^="logo-font"]:before, [class*=" logo-font"]:before,
[class^="logo-font"]:after, [class*=" logo-font"]:after {   
	font-family: LogoFont;
	/* font-size: 20px; */
	font-style: normal;
	margin-left: 0;
}

.logo-font:before { content: "\f100"; }